.animated-grow-in {
  animation-name: growIn;
  animation-duration: 200ms;
  animation-timing-function: transform cubic-bezier(0.18, 1.25, 0.4, 1), opacity cubic-bezier(0, 1, 0.4, 1); }

@keyframes growIn {
  0% {
    transform: scale(0.9);
    opacity: 0; }
  100% {
    transform: scale(1);
    opacity: 1; } }

.action-switch > input[type="checkbox"] {
  display: none; }

.action-switch > label {
  cursor: pointer;
  height: 0px;
  position: relative;
  top: 2px;
  width: 40px; }

.action-switch > label::before {
  background: #ebebeb;
  border-radius: 8px;
  content: '';
  height: 16px;
  margin-top: -8px;
  position: absolute;
  transition: all 0.4s ease-in-out;
  width: 40px; }

.action-switch > label::after {
  background: #d3d5db;
  border-radius: 16px;
  content: '';
  height: 24px;
  left: -4px;
  margin-top: -8px;
  position: absolute;
  top: -4px;
  transition: all 0.3s ease-in-out;
  width: 24px; }

.action-switch > input[type="checkbox"]:checked + label::before {
  background: #fcdbae; }

.action-switch > input[type="checkbox"]:checked + label::after {
  background: #fb970b;
  left: 20px; }

body {
  font-size: 14px;
  color: #171f23; }

a {
  text-decoration: none;
  outline: none; }
  a:hover {
    text-decoration: none;
    color: #fb970b; }

ul, li {
  list-style: none;
  padding: 0;
  margin: 0; }

img {
  vertical-align: middle;
  border-style: none; }

.wrapper {
  display: flex;
  background-color: #f8f8f8; }

.header {
  box-shadow: 0 0.125rem 0.9rem rgba(0, 0, 0, 0.075);
  background-color: #ffffff; }
  .header .logo {
    color: #fb970b; }
  .header .profile-pic {
    border-radius: 50%;
    margin-right: 6px; }
  .header .img-xs {
    height: 32px;
    width: 32px;
    min-width: 32px; }
  .header .count-indicator {
    position: relative;
    color: #171f24;
    font-size: 1.2rem;
    padding: 0;
    display: none; }
    .header .count-indicator .count {
      position: absolute;
      left: 60%;
      width: 1rem;
      height: 1rem;
      border-radius: 100%;
      background: #fb970b;
      color: #ffffff;
      font-size: 11px;
      top: 0;
      font-weight: 600;
      line-height: 1rem;
      border: none;
      text-align: center; }
  .header .dropdown-menu {
    padding: 10px;
    font-size: 14px;
    border-color: #cccccc;
    box-shadow: 0 0.125rem 0.9rem rgba(0, 0, 0, 0.075);
    left: 15px; }
    .header .dropdown-menu li {
      padding: 7px 0; }
      .header .dropdown-menu li a {
        color: #171f23; }
        .header .dropdown-menu li a:hover {
          text-decoration: none;
          color: #fb970b;
          transition: .3s; }
        .header .dropdown-menu li a span {
          padding-left: 10px; }
    .header .dropdown-menu.notification-list {
      padding: 0; }
      .header .dropdown-menu.notification-list p {
        margin: 0; }
      .header .dropdown-menu.notification-list .dropdown-item {
        cursor: pointer; }
      .header .dropdown-menu.notification-list .dropdown-divider {
        margin: 0; }
  .header .dropdown-user-toggle {
    color: #171f23;
    font-size: 14px; }
    .header .dropdown-user-toggle:hover {
      text-decoration: none; }
    .header .dropdown-user-toggle .profile-name {
      padding: 0 10px; }

/*media queries */
@media screen and (min-width: 767px) {
  .header .count-indicator {
    display: block; } }

@media screen and (min-width: 992px) {
  .header .logo {
    padding-left: 1.5rem; }
    .header .logo img {
      padding-right: 1rem; } }

.sidebar {
  width: 15rem;
  min-height: 100vh;
  background-color: #ffffff;
  margin-top: 15px; }
  .sidebar .sidebar-item {
    padding: 20px 10px; }
    .sidebar .sidebar-item .sidebar-link {
      color: #171f23; }
      .sidebar .sidebar-item .sidebar-link .fa {
        text-align: center;
        font-size: 20px;
        display: block; }
      .sidebar .sidebar-item .sidebar-link span {
        margin-left: 10px;
        display: none; }
    .sidebar .sidebar-item.active {
      background-color: #fb970b; }
      .sidebar .sidebar-item.active .sidebar-link {
        color: #ffffff; }
    .sidebar .sidebar-item:hover span {
      margin-left: 20px;
      transition: 0.3s; }

/*media queries */
@media screen and (min-width: 992px) {
  .sidebar .sidebar-item .sidebar-link .fa {
    text-align: left;
    font-size: 16px;
    display: inline-block; }
  .sidebar .sidebar-item .sidebar-link span {
    display: inline-block; } }

.content {
  width: 100%;
  margin-top: 15px; }
  .content .content-main-title {
    margin-bottom: 20px;
    font-size: 1.1rem; }
  .content .content-box {
    padding: 1rem;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0.125rem 0.9rem rgba(0, 0, 0, 0.075);
    margin-bottom: 20px; }
  .content .content-title {
    text-transform: uppercase;
    font-size: 12px;
    padding-bottom: 8px;
    position: relative;
    font-weight: bold;
    color: #464d50; }
    .content .content-title:after {
      background: #fb970b;
      width: 2rem;
      height: 2px;
      position: absolute;
      bottom: -5px;
      left: 1px;
      content: ''; }
  .content .content-text {
    font-size: 25px;
    position: relative;
    padding-left: 40px;
    font-weight: bold; }
    .content .content-text::before {
      position: absolute;
      left: 0;
      width: 25px;
      height: 25px;
      top: 8px;
      content: '';
      background-repeat: no-repeat; }
    .content .content-text.user::before {
      background-image: url("../assets/images/men.svg"); }
    .content .content-text.award::before {
      background-image: url("../assets/images/cup.svg"); }
    .content .content-text.revenue::before {
      background-image: url("../assets/images/revenue.svg"); }
    .content .content-text.money::before {
      background-image: url("../assets/images/money.svg"); }
  .content .top-block {
    position: relative; }
    .content .top-block::before {
      position: absolute;
      right: 5px;
      width: 60px;
      height: 60px;
      bottom: 3px;
      content: '';
      background-color: #fef4e5;
      background-repeat: no-repeat; }
    .content .top-block.men::before {
      mask-image: url("../assets/images/men.svg");
      -webkit-mask-image: url("../assets/images/men.svg");
      bottom: -8px; }
    .content .top-block.cup::before {
      mask-image: url("../assets/images/cup.svg");
      -webkit-mask-image: url("../assets/images/cup.svg"); }
    .content .top-block.rev::before {
      mask-image: url("../assets/images/revenue.svg");
      -webkit-mask-image: url("../assets/images/revenue.svg"); }
    .content .top-block.bag::before {
      mask-image: url("../assets/images/money.svg");
      -webkit-mask-image: url("../assets/images/money.svg"); }
  .content .row {
    margin-right: 20px; }
  .content .customer-list .email {
    display: none; }
  .content .customer-list thead {
    background-color: #feeacd; }
    .content .customer-list thead th {
      border: 0; }
  .content .customer-list td, .content .customer-list th {
    vertical-align: middle; }
  .content .customer-list td {
    border-top: 0;
    border-bottom: 1px solid #dee2e6; }
  .content .user-img {
    width: 43px;
    min-width: 43px;
    height: 43px; }
  .content .most-active-name {
    margin-bottom: -0.25rem;
    font-weight: 600; }
  .content .nav-tabs {
    border-bottom: none; }
    .content .nav-tabs .nav-tab-link {
      flex: 1;
      color: #8d9193;
      text-transform: uppercase;
      font-size: 12px;
      cursor: pointer; }
      .content .nav-tabs .nav-tab-link a.active {
        color: #fb970b; }

/*media queries */
@media screen and (min-width: 767px) {
  .content .row {
    margin-right: -15px; } }

@media screen and (min-width: 1200px) {
  .content .customer-list .email {
    display: table-cell; } }
