.action-switch > input[type="checkbox"] {
  display: none;
}

.action-switch > label {
  cursor: pointer;
  height: 0px;
  position: relative;
  top: 2px;
  width: 40px;
}

.action-switch > label::before {
  background: rgb(235, 235, 235);
  border-radius: 8px;
  content: '';
  height: 16px;
  margin-top: -8px;
  position: absolute;
  transition: all 0.4s ease-in-out;
  width: 40px;
}

.action-switch > label::after {
  background: rgb(211, 213, 219);
  border-radius: 16px;
  content: '';
  height: 24px;
  left: -4px;
  margin-top: -8px;
  position: absolute;
  top: -4px;
  transition: all 0.3s ease-in-out;
  width: 24px;
}
.action-switch > input[type="checkbox"]:checked + label::before {
  background: rgb(252, 219, 174);
}

.action-switch > input[type="checkbox"]:checked + label::after {
  background: $orange;
  left: 20px;
}
