// Color Variables
$white: #ffffff;
$black: #000000;
$grey-dark: #171f23;
$grey-darker: #464d50;
$grey-darkest: #171f24;
$grey-light: #f8f8f8;
$grey-light1: #dee2e6;
$grey-medium: #cccccc;
$grey-medium1: #8d9193;
$orange: #fb970b;
$orange-light: #feeacd;

//sidebar
$sidebar-width: 15rem;

//general
$border-radius: 5px;
$box-shadow: 0 .125rem .9rem rgba($black, .075);
