.content {
  width: 100%;
  margin-top: 15px;
  .content-main-title {
    margin-bottom: 20px;
    font-size: 1.1rem;
  }
  .content-box {
    padding: 1rem;
    background-color: $white;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    margin-bottom: 20px;
  }
  .content-title {
    text-transform: uppercase;
    font-size: 12px;
    padding-bottom: 8px;
    position: relative;
    font-weight: bold;
    color: $grey-darker;
    &:after {
      background: $orange;
      width: 2rem;
      height: 2px;
      position: absolute;
      bottom: -5px;
      left: 1px;
      content: '';
    }
  }
  .content-text {
    font-size: 25px;
    position: relative;
    padding-left: 40px;
    font-weight: bold;
    &::before {
      position: absolute;
      left: 0;
      width: 25px;
      height: 25px;
      top: 8px;
      content: '';
      background-repeat: no-repeat;
    }
    &.user::before {
      background-image: url('../assets/images/men.svg');
    }
    &.award::before {
      background-image: url('../assets/images/cup.svg');
    }
    &.revenue::before {
      background-image: url('../assets/images/revenue.svg');
    }
    &.money::before {
      background-image: url('../assets/images/money.svg');
    }
  }
  .top-block {
    position: relative;
    &::before {
      position: absolute;
      right: 5px;
      width: 60px;
      height: 60px;
      bottom: 3px;
      content: '';
      background-color: #fef4e5;
      background-repeat: no-repeat;
    }
    &.men::before {
      mask-image: url('../assets/images/men.svg');
      -webkit-mask-image:  url('../assets/images/men.svg');
      bottom: -8px;
    }
    &.cup::before {
      mask-image: url('../assets/images/cup.svg');
      -webkit-mask-image:  url('../assets/images/cup.svg');
    }
    &.rev::before {
      mask-image: url('../assets/images/revenue.svg');
      -webkit-mask-image:  url('../assets/images/revenue.svg');
    }
    &.bag::before {
      mask-image: url('../assets/images/money.svg');
      -webkit-mask-image:  url('../assets/images/money.svg');
    }
  }
  .row {
    margin-right: 20px;
  }
  .customer-list {
    .email {
      display: none;
    }
    thead {
      background-color: $orange-light;
      th {
        border: 0;
      }
    }
    td, th {
      vertical-align: middle;
    }
    td {
      border-top: 0;
      border-bottom: 1px solid $grey-light1;
    }
  }
  .user-img {
    width: 43px;
    min-width: 43px;
    height: 43px;
  }
  .most-active-name {
    margin-bottom: -0.25rem;
    font-weight: 600;
  }
  .nav-tabs {
    border-bottom: none;
    .nav-tab-link {
      flex: 1;
      color: $grey-medium1;
      text-transform: uppercase;
      font-size: 12px;
      cursor: pointer;
      & a.active {
        color: $orange;
      }
    }
  }
}

/*media queries */
@media screen and (min-width: 767px) {
  .content {
    .row {
      margin-right: -15px;
    }
  }
}
@media screen and (min-width: 1200px) {
  .content {
    .customer-list .email {
      display: table-cell;
    }
  }
}
