.header {
  box-shadow: $box-shadow;
  background-color: $white;
  .logo {
    color: $orange;
  }
  .profile-pic {
    border-radius: 50%;
    margin-right: 6px;
  }
  .img-xs {
    height: 32px;
    width: 32px;
    min-width: 32px;
  }
  .count-indicator {
    position: relative;
    color: $grey-darkest;
    font-size: 1.2rem;
    padding: 0;
    display: none;
    .count {
      position: absolute;
      left: 60%;
      width: 1rem;
      height: 1rem;
      border-radius: 100%;
      background: $orange;
      color: $white;
      font-size: 11px;
      top: 0;
      font-weight: 600;
      line-height: 1rem;
      border: none;
      text-align: center;
    }
  }
  .dropdown-menu {
    padding: 10px;
    font-size: 14px;
    border-color: $grey-medium;
    box-shadow: $box-shadow;
    left: 15px;
    li {
      padding: 7px 0;
      a {
        color: $grey-dark;
        &:hover {
          text-decoration: none;
          color: $orange;
          transition: .3s;
        }
        span {
          padding-left: 10px;
        }
      }
    }
    &.notification-list {
      padding: 0;
      p {
        margin: 0;
      }
      .dropdown-item {
        cursor: pointer;
      }
      .dropdown-divider {
        margin: 0;
      }
    }
  }
  .dropdown-user-toggle {
    color: $grey-dark;
    font-size: 14px;
    &:hover {
      text-decoration: none;
    }
    .profile-name {
      padding: 0 10px;
    }
  }
}
/*media queries */
@media screen and (min-width: 767px) {
  .header .count-indicator {
    display: block;
  }
}
@media screen and (min-width: 992px) {
  .header .logo {
    padding-left: 1.5rem;
    img {
      padding-right: 1rem;
    }
  }
}
