.sidebar {
  width: $sidebar-width;
  min-height: 100vh;
  background-color: $white;
  margin-top: 15px;
  .sidebar-item {
    padding: 20px 10px;
    .sidebar-link {
      color: $grey-dark;
      .fa {
        text-align: center;
        font-size: 20px;
        display: block;
      }
      span {
        margin-left: 10px;
        display: none;
      }
    }
    &.active {
      background-color: $orange;
      .sidebar-link {
        color: $white;
      }
    }
    &:hover {
      span {
        margin-left: 20px;
        transition: 0.3s;
      }
    }
  }
}

/*media queries */
@media screen and (min-width: 992px) {
    .sidebar .sidebar-item .sidebar-link {
      .fa {
        text-align: left;
        font-size: 16px;
        display: inline-block;
      }
      span {
        display: inline-block;
      }
    }
}
