.header .profile-pic {
  border-radius: 50%; }

.header .img-xs {
  height: 32px;
  width: 32px;
  min-width: 32px; }

.header .dropdown-toggle {
  color: #333;
  font-size: 14px; }
  .header .dropdown-toggle:hover {
    text-decoration: none; }
  .header .dropdown-toggle .profile-name {
    padding: 0 10px; }
