body {
  font-size: 14px;
  color: $grey-dark;
}
a {
  text-decoration: none;
  outline: none;
  &:hover {
    text-decoration: none;
    color: $orange;
  }
}
ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
    vertical-align: middle;
    border-style: none;
}
.wrapper {
  display: flex;
  background-color: $grey-light;
}
